* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game1 {
    margin: 20px;
    padding: 20px;
    height: 40rem;
    width: 70%;
    font-size: 100px;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
    align-items: flex-end;
}

#begin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

#start {
    font-size: 20px;
}

#game2 {
    display: flex;
    gap: 5px;
    color: rgb(255, 0, 0);
}

#l1 {
    padding: 10px;
    background-color: rgb(255, 0, 0);
}